/*{% load static %}
@font-face {
    font-family: "Russo One";
    src: url({% static 'fonts/RussoOne-Regular.woff' %});
    src: local({% static 'fonts/RussoOne-Regular.woff2' %})

}
*/

.page-header {
    background-color: #22272B;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    margin-left: 10%;
}

.back {
    background-color: rgba(34, 39, 43, 0.9);
}


.content {
    left: 50%;
    top: 50%;
    width: 750px;
    background-color: rgba(34, 39, 43, 0.8)
    color: #ffffff;

}

.comment {
    margin: 20px 0px 20px 20px;
}



h1, h2, h3, h4 {
    font-family: 'Russo One', sans-serif;
    /*font-family: 'Russo One', cursive;*/
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    color: #ffffff;


}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 15pt;
    margin-right: 20px;
}


.post {

    width: 700px;
    margin: 20px 0px 0px 0px;
    background-color: rgba(34, 39, 43, 0.9);
    border: 1px solid ;
    border-color: #393d41;
}

.post video{
    width: 698px;
}

.title {
    margin: 10px 20px 0px 20px;
    }

.post h1 a, .post h1 a:visited {
    font-size: 20pt;
    color: #b8bbc2;
    border: 20px;
}

.post p{
    color: #ffffff;
    margin: 10px 20px 10px 20px;

}